* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    
    scroll-behavior: smooth;
    height: 200vh;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* NAVIGATION */
.nav-main {
    width: 100%;
    position: fixed;
    z-index: 999;
}
.nav-main-header {
    background-color: #3F4A51;
    opacity: 0.95;

    list-style: none;
    display: flex;
    flex-direction: row;

    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
    
    justify-content: space-around;
    align-items: center;
}
.nav-main-header li {
    min-width: 20px;
}
.nav-main-header li a {
    text-decoration: none;
    color: #B124DB;
}
.nav-main-header li a:hover {
    color: #b124b1;
}


/* Main Content */

.main-content {
    height: 200vh;
}

.full-width-video {
    width: 100%;
    height: auto;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    pointer-events: none;
}

/* Gameplay background */
.gameplay {
    width: 100%;
    min-height: 100vh;
    background-color: #B124DB;
    z-index: 0;
    position: fixed;
}

.gameplay img {
    height: 100vh;
}




/* Introduction */
.introduction {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    top: 100vh;
}

.description {
    padding: 50px;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
}

.downloads {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.download-section {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.download-button {
    margin-top: 20px;

    height: 12vh;
    background-color: grey;
}
.icon {
    height: 12vh;
}
.social-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/* footer */

.footer {
    height: 5em;
    background-color: black;
    z-index: 9999;
    position: relative;
}