* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 200vh;

    font-family: Verdana, Geneva, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Verdana, Geneva, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Verdana, Geneva, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; 

}

/* NAVIGATION */
.nav-main {
    width: 100%;
    position: fixed;
    z-index: 999;
}
.nav-main-header {
    background-color: #3F4A51;
    opacity: 0.95;

    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
    
    justify-content: space-around;
    align-items: center;
}
.nav-main-header li {
    min-width: 20px;
}
.nav-main-header li a {
    text-decoration: none;
    color: #B124DB;
}
.nav-main-header li a:hover {
    color: #b124b1;
}


/* Main Content */

.main-content {
    height: 200vh;
}

/* Gameplay background */
.gameplay {
    width: 100%;
    min-height: 100vh;
    background-color: #B124DB;
    z-index: 0;
    position: fixed;
}

.gameplay img {
    height: 100vh;
}


/* Introduction */
.introduction {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    top: 100vh;
}
