@import url('global-styles.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;

    font-family: 'SpecialElite', sans-serif;
}

/* NAVIGATION */
.nav-main {
    width: 100%;
    position: fixed;
    z-index: 999;
    font-family: 'Blackcraft', sans-serif;
    font-size: 2vw;
    height: fit-content;
}
.nav-main-header {
    background-color: #3F4A51;

    list-style: none;
    display: flex;
    flex-direction: row;
    height: fit-content;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
    
    justify-content: space-around;
    align-items: center;

    height: 10vh;

}
.nav-main-header li {
    min-width: 20px;
    transform: scale(0.8);
}
.nav-main-header li a {
    text-decoration: none;
    color: #B124DB;
    
}
.nav-main-header li a:hover {
    color: #b124b1;
}

/* transitions  */

.page-transition img{
    pointer-events: none;
    opacity: 1;
    position: fixed;
    height: 110%;
    width: 110%;
    z-index: 9999;
    display: none;

    animation: fadeOut 1.5s ease-out forwards;
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

/* sidebar navigation */

.side-bar {
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

    width: fit-content;
    min-width: 20vw;
    min-height: 100vh;
    background-color: #343a3d;

    display: flex;
    padding-left: 1vw;
    font-size: 30px;
    overflow-y: auto;
}

/* header for crops */

.nav-header-crop {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
}
.nav-header-crop-title {
    color: white;
    margin-top: 6px;
}

.topic-section {
    list-style: none;
}

.subsection {
    padding-top: 6px;
    padding-left: 1vw;
    color: white;
    text-decoration: none;
    font-size: 1vw;
    transition:cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.subsection:hover {
    border-style:inset; 
}

/* wiki page */

.wiki-content {
    background-color: #3F4A51;
    height: 100vh;
    display: flex;
}

/* wiki-scroll-content */

.wiki-page-content {
    background-color: white;
    padding: 20px;
    margin-top: 10vh;
    flex: 1;
}


